@import './vars';

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
.App {
  height: 100%;
}

html {
  color: $clr0;
  font-family: sans-serif, Arial, serif;
}

body {
  margin: auto;
  font-size: 16px;
  color: $text-primary;
}

#root {
  height: 100%;
}

button, input {
  border: 1px solid transparent;
  border-radius: $border-radius-1;
  padding: 8px 16px;
}

button, input[type="submit"] {
  cursor: pointer;
}
