@import './vars';

* {
  box-sizing: border-box;
  text-decoration: none;
}

html{
  min-height: 100%;
  display:flex;
  flex-direction: column;
}

#root,
body,
.App {
 height: 100%;
 display: flex;
 flex-direction: column;
 flex-grow: 1;
}

html {
  color: $clr0;
  font-family: sans-serif, Arial, serif;
}

body {
  margin:0;
  font-size: 16px;
  color: $text-primary;
}



button, input {
  border: 1px solid transparent;
  border-radius: $border-radius-1;
  padding: 8px 16px;
}

button, input[type="submit"] {
  cursor: pointer;
}
