@import './vars';

%btn {
  border-radius: $border-radius-1;
}

.btn-full {
  @extend %btn;

  border: 1px solid transparent;
  color: white;
  background-color: $primary-color;
}

.btn-flat {
  @extend %btn;
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
}
