// Colors
$primary-color:rgb(237,78,109);
$text-primary:rgb(208,207,209);
$text-scondary:#839097;
$text-highlight:rgb(154,198,82);

$clr0: #141414;
$clr1: #2d2f31;
$clr2: #182f53;
$clr3: #395b99;
$clr4: #6c90d1;
$clr5: #f0f0e6;
$margin6: 0 auto 6px auto;