// colors
$primary-color:rgb(237,78,109);
$text-primary:rgb(208,207,209);
$text-scondary:rgb(78,94,103);
$text-highlight:rgb(154,198,82);

$clr0: #141414;
$clr3: #395b99;
$clr4: #6c90d1;
$clr5: #f0f0e6;

// other
$border-radius-1: 5px;
