@import '../../assets//scss/vars';

.contact-details {
  h1, h2 {
    margin: 0;
    font-weight: normal;
  }

  h1 {
    color: $primary-color;
    margin-bottom: 8px;
    font-size: 36px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
