@import '../../assets/scss/vars';

.delete{
  transform: translate(-16px,-155px);
  display:flex;
  justify-content: flex-end;
  
  font-weight: 700;
  button{
    font-size: 20px;
  }
  button:hover{
    background-color:rgb(128, 0, 0);
    color:white;
  }
}
.contact-details {
  .small-header{
    display:flex;
    justify-content:space-between;
    a{
      button{
        height: 100%;
      }
    }

  }
  

  h1, h2 {
    margin: 0;
    font-weight: normal;
  }

  h1 {
    color: $primary-color;
    margin-bottom: 8px;
    font-size: 36px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .coin-counter {
    margin: 16px 0 0;
    font-size: 26px;
  }

  input {
    height: 40px;
  }
}
