@import '../../assets/scss/vars';

.filter-container {
  
  input {
    font-size: 1.1rem;
    width: 100%;
    border-radius: 0;
    height: 51px;
    padding: 8px 16px;
    background-color: #00000096;
    &:focus {
      background-color: #00000096;
      border: 1px solid $primary-color;
      color:$text-primary;
      outline: 1px solid rgba(255, 255, 255, 0);
    }
  }
}
