@import '../../assets/scss/vars';

.filter-container {
  margin: 6px 0px 6px 0px;
  input {
    font-size: 1.1rem;
    padding: 2px 4px;
    border: 0.5px solid rgb(68, 68, 68);
    background-color: $clr5;
    &:focus {
      background-color: #ebf4fa;
      outline: 1px solid rgba(0, 0, 0, 0);
    }
  }
}
