* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
.App {
  height: 100%;
}

html {
  color: $clr0;
  font-family: sans-serif, Arial, serif;
}

body {
  margin: auto;
  font-size: 16px;
  background-color: $clr5;
}

#root {
  height: 100%;
}

.App {
  background-image: url(/assets/img/background/background-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 100%;
}

.App > div {
  flex-grow: 1;
}
