.App {
  background-image: url(/assets/img/background/background-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 100%;
}

.App > div {
  flex-grow: 1;
}
