

.App {
  background-image: url(%PUBLIC_URL%/assets/img/background/background-blue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 100%;
  
}

.App > div,.App > section {
  flex-grow: 1;
 width:100%;
 max-width: 480px;
  margin: 0 auto;
  padding: 0px 10px;
}
