.nav-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 16px;
  justify-content: space-between;
}

.nav-link:link {
  font-size: 1.2em;
  text-decoration: none;
  padding-right: 10px;
}

.nav-link:hover {
  color: teal;
}

.nav-link:active {
  color: teal;
}

.activeRoute {
  color: teal;
}
